/CMakeCache.txt
/CMakeFiles/
/CTestTestfile.cmake
/Makefile
/Testing/
/cmake_install.cmake
/config.h
/libsnappy.so
/snappy-stubs-public.h
/snappy-unittest
/snappy-unittest.exe
/snappy-unittest.exe.embed.manifest
/snappy-unittest.exe.embed.manifest.res
/snappy-unittest.exe.intermediate.manifest
/snappy-unittest.exe.resource.txt
/snappy-unittest.ilk
/snappy-unittest.pdb
/snappy.dll
/snappy.dll.embed.manifest
/snappy.dll.embed.manifest.res
/snappy.dll.intermediate.manifest
/snappy.dll.resource.txt
/snappy.exp
/snappy.ilk
/snappy.lib
/snappy.pdb
